* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
.messages {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  font-family: monospace;
}
input {
  font-family: inherit;
  font-size: inherit;
}
.messages {
  display: block;
  line-height: 1.25em;
  padding: 20px;
  color: #fff;
}
.messages dt,
.messages dd {
  float: left;
}
.messages dt {
  color: #ffd700;
  clear: left;
  padding-right: 0.65em;
}
.messages dt.system {
  color: #fff;
}
.messages dt.system + dd {
  color: #f00;
}
.send {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
}
.send,
.send input {
  width: 100%;
}
.send input {
  height: 20px;
  line-height: 20px;
  background-color: #000;
  border: none;
  color: #fff;
}
